{% extends 'website_base.html' %}
{% load static %}
{% load honeypot %}
{% block main %}

{% load i18n %}
  <!-- Titlebar -->
    <div class="parallax titlebar" data-background="{% static 'front/images/listings-parallax.jpg' %}" data-color="rgba(48, 48, 48, 1)"
         data-color-opacity="0.8" data-img-height="505" data-img-width="800">
        <div id="titlebar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            Contact Us
                        </h2>
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Contact</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



  <!-- Container / Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="utf-contact-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.7752965795776!2d55.18377743033884!3d25.10946665960888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5d11dd744749%3A0x341fb8f784ada9b!2sPRIME%20PLANETS%20PROPERTIES%20LLC!5e0!3m2!1sen!2sus!4v1762224726081!5m2!1sen!2sus" height="450" style="border:0; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <!-- Contact Details -->
      <div class="col-md-4">
        <div class="utf-boxed-list-headline-item">
            <h3><i class="icon-feather-map"></i> Office Address</h3>
        </div>
        <!-- Contact Details -->
        <div class="utf-contact-location-info-aera sidebar-textbox margin-bottom-40">
          <ul class="contact-details">
            <li><i class="icon-feather-smartphone"></i> <strong>Phone Number:</strong>
                <span><a href="tel:+971506448285">+971506448285</a></span>
            </li>
            <li><i class="icon-material-outline-email"></i> <strong>Email Address:</strong>
                <span><a href="mailto:sales@primeplanetsproperties.com">sales@primeplanetsproperties.com</a></span>
            </li>
            <li><i class="icon-feather-globe"></i> <strong>Website:</strong>
                <span><a href="https://primeplanetsproperties.com">primeplanetsproperties.com</a></span>
            </li>
            <li><i class="icon-feather-map-pin"></i> <strong>Address:</strong>
                <span>{{website.address}}</span>
            </li>
            <li style="padding-left: 10px; text-align: center; padding-bottom: 30px; margin: 10px 0; ">
                <div class="row" style="">
                    <div class="col-md-12" align="center" style="display: block;">
                        <h3>Follow Us</h3>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2 col-xs-2">
                        <a href="https://www.facebook.com/profile.php?id=61577605014592" target="_blank">
                            <img alt="{% trans 'facebook' %}" src="{% static 'front/images/facebook_circle_color-512.webp' %}" style="height: 25px; width: 25px;">
                        </a>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <a href="https://www.instagram.com/primeplanetspropertiesllc/" target="_blank">
                            <img alt="{% trans 'instagram' %}" src="{% static 'front/images/Instagram_icon.png' %}" style="height: 25px; width: 25px;">
                        </a>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <a href="https://x.com/PrimePlanetsllc" target="_blank">
                            <img alt="{% trans 'twitter' %}" src="{% static 'front/images/twitter_circle-512.webp' %}" style="height: 25px; width: 25px;">
                        </a>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <a href="https://www.linkedin.com/in/prime-planets-properties-llc-25768b373/" target="_blank">
                            <img alt="{% trans 'Linkedin' %}" src="{% static 'front/images/LinkedIn_logo_initials.png' %}" style="height: 25px; width: 25px;">
                        </a>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <a href="https://www.pinterest.com/PRIMEPLANETSPROPERTIESLLC/" target="_blank">
                            <img alt="{% trans 'Pinterest' %}" src="{% static 'front/images/pinterest-logo.png' %}" style="height: 25px; width: 25px;">
                        </a>
                    </div>

                </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Contact Form -->
      <div class="col-md-8">
        <section id="contact">
          <div class="utf-boxed-list-headline-item">
            <h3><i class="icon-feather-layers"></i> Contact Form</h3>
          </div>
          <div class="utf-contact-form-item">
              <form action="/send-email" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                      {% render_honeypot_field "check_field" %}
                      <input name="name" type="text" placeholder="Frist Name" required />
                  </div>
                  <div class="col-md-6">
                      <input name="email" type="email" placeholder="Email Address" required />
                  </div>
                  <div class="col-md-6">
                      <input name="phone" type="text" placeholder="Phone Number" required />
                  </div>
                  <div class="col-md-6">
                      <input name="subject" type="text" placeholder="Subject" />
                  </div>
                  <div class="col-md-12">
                      <textarea name="message" cols="40" rows="3" placeholder="Message..." spellcheck="true" required></textarea>
                  </div>
                  <div class="col-md-12">
                      What's <span class="num1">{{num1}}</span> + <span class="num2">{{num2}}</span> ?
                      <input type="number" name="answer_quiz" placeholder="Type answer here" required>
                      <input type="hidden" name="num1" value="{{num1}}">
                      <input type="hidden" value="{{num2}}" name="num2">
                  </div>
                </div>
                <div class="utf-centered-button margin-bottom-10">
                    <input type="submit" class="submit button" id="submit" value="Submit Message" />
                </div>
              </form>
            </div>
        </section>
      </div>
      <!-- Contact Form / End -->
    </div>
  </div>
  <!-- Container / End -->

{% endblock %}