{% extends 'website_base.html' %}
{% load static %}
{% load honeypot %}
{% block main %}

  <!-- Titlebar -->
    <div class="parallax titlebar" data-background="{% static 'front/images/listings-parallax.jpg' %}" data-color="rgba(48, 48, 48, 1)"
         data-color-opacity="0.8" data-img-height="505" data-img-width="800">
        <div id="titlebar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            Contact Us
                        </h2>
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Contact</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



  <!-- Container / Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="utf-contact-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15557.96371071188!2d77.617502!3d12.876123!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xadfe740ec3e1ca7a!2sPLANETS%20PROPERTIES%20%7C%20Real%20Estate%20Builder%20in%20Bangalore!5e0!3m2!1sen!2sin!4v1667058357196!5m2!1sen!2sin" height="400" style="border:0; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
          <div align="center" style="margin-top:10px;" class="margin-bottom-50">
            <i class="icon-feather-map-pin"></i> <span>Planets properties <br>1st & 2nd Floor, 357/4, Begur - Hulimavu Rd, opp. DLF Westend Heights, Classic Paradise Layout, Akshayanagar, Bengaluru, Karnataka 560068.</span>
          </div>
      </div>
      <div class="col-md-4">
        <div class="utf-contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.8621965297057!2d77.6349484!3d12.916577199999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15c72f29ceb5%3A0xb1c2f3df9cb6c66b!2sPLANETS%20PROPERTIES%20HSR%20BRANCH%20%7C%20Real%20Estate%20Property%20advisory%20company%20in%20Bangalore.!5e0!3m2!1sen!2sus!4v1732113932589!5m2!1sen!2sus" height="400" style="border:0; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
          <div align="center" style="margin-top:10px;" class="margin-bottom-50">
            <i class="icon-feather-map-pin"></i> <span>Planets properties <br>Unit No.201, 141, 2nd Floor, Sector 5, HSR Layout, Bengaluru, Karnataka 560034.</span>
          </div>
      </div>
      <div class="col-md-4">
        <div class="utf-contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.4747142468827!2d77.6649468!3d13.1324287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1bdf993f60ab%3A0xc53b70dedfed0d83!2sPLANETS%20PROPERTIES%20-%20NORTH%20BRANCH!5e0!3m2!1sen!2sus!4v1732113993296!5m2!1sen!2sus" height="400" style="border:0; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
          <div align="center" style="margin-top:10px;" class="margin-bottom-50">
            <i class="icon-feather-map-pin"></i> <span>Planets properties <br>
No. 251, 1st Floor, Yelahanka Main Road, Jala Hobli, Opp SBI Bank, Bangalore North 562149.</span>
          </div>
      </div>
    </div>
    <div class="row">
      <!-- Contact Details -->
      <div class="col-md-4">
        <div class="utf-boxed-list-headline-item">
            <h3><i class="icon-feather-map"></i> Office Address</h3>
        </div>
        <!-- Contact Details -->
        <div class="utf-contact-location-info-aera sidebar-textbox margin-bottom-40">
          <ul class="contact-details">
            <li><i class="icon-feather-smartphone"></i> <strong>Phone Number:</strong>
                <span><a href="tel:080-48537744">080-48537744</a></span>
                <span><a href="tel:+91-9900269744">+91-9900269744</a></span>
                <span><a href="tel:+91-9845341614">+91-9845341614</a></span>
            </li>
            <li><i class="icon-material-outline-email"></i> <strong>Email Address:</strong>
                <span><a href="mailto:sales@planetsproperties.com">sales@planetsproperties.com</a></span>
            </li>
            <li><i class="icon-feather-globe"></i> <strong>Website:</strong>
                <span><a href="https://planetsproperties.com">planetsproperties.com</a></span>
            </li>
            <li><i class="icon-feather-map-pin"></i> <strong>Address:</strong>
                <span>{{website.address}}</span>
            </li>
            <li style="padding-left: 10px; text-align: center; padding-bottom: 30px; margin: 10px 0; ">
                <div class="row" style="">
                    <div class="col-md-12" align="center" style="display: block;">
                        <h3>Follow Us</h3>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <a href="https://www.facebook.com/planetsprop" target="_blank">
                            <img alt="facebook" src="{% static 'front/images/facebook_circle_color-512.webp' %}" style="height: 45px; width: 45px;">
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <a href="https://instagram.com/planetsproperties" target="_blank">
                            <img alt="instagram" src="{% static 'front/images/Instagram_icon.png' %}" style="height: 40px; width: 40px;">
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <a href="https://t.me/planetsproperties" target="_blank">
                            <img alt="telegram" src="{% static 'front/images/Telegram_logo.svg.webp' %}" style="height: 40px; width: 40px;">
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <a href="" target="_blank">
                            <img alt="twitter" src="{% static 'front/images/twitter_circle-512.webp' %}" style="height: 40px; width: 40px;">
                        </a>
                    </div>
                </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Contact Form -->
      <div class="col-md-8">
        <section id="contact">
          <div class="utf-boxed-list-headline-item">
            <h3><i class="icon-feather-layers"></i> Contact Form</h3>
          </div>
          <div class="utf-contact-form-item">
              <form action="/send-email" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                      {% render_honeypot_field "check_field" %}
                      <input name="name" type="text" placeholder="Frist Name" required />
                  </div>
                  <div class="col-md-6">
                      <input name="email" type="email" placeholder="Email Address" required />
                  </div>
                  <div class="col-md-6">
                      <input name="phone" type="text" placeholder="Phone Number" required />
                  </div>
                  <div class="col-md-6">
                      <input name="subject" type="text" placeholder="Subject" />
                  </div>
                  <div class="col-md-12">
                      <textarea name="message" cols="40" rows="3" placeholder="Message..." spellcheck="true" required></textarea>
                  </div>
                  <div class="col-md-12">
                      What's <span class="num1">{{num1}}</span> + <span class="num2">{{num2}}</span> ?
                      <input type="number" name="answer_quiz" placeholder="Type answer here" required>
                      <input type="hidden" name="num1" value="{{num1}}">
                      <input type="hidden" value="{{num2}}" name="num2">
                  </div>
                </div>
                <div class="utf-centered-button margin-bottom-10">
                    <input type="submit" class="submit button" id="submit" value="Submit Message" />
                </div>
              </form>
            </div>
        </section>
      </div>
      <!-- Contact Form / End -->
    </div>
  </div>
  <!-- Container / End -->

{% endblock %}