{% extends 'website_base.html' %}
{% load static %}
{% block main %}

  <!-- Titlebar -->
    <div class="parallax titlebar" data-background="{% static 'assets/images/dubai_surrounding_2.jpg' %}" data-color="rgba(48, 48, 48, 1)"
         data-color-opacity="0.8" data-img-height="505" data-img-width="800">
        <div id="titlebar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            Disclaimer & Privacy Policy
                        </h2>
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Disclaimer & Privacy Policy</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



  <!-- Contact -->
  <div class="margin-top-65 padding-bottom-55">
	  <div class="container">
		<div class="row">
		  <div class="col-xl-12 col-md-12">
              {{website.disclaimer|safe}}
		  </div>
		</div>
	  </div>
  </div>
  <!-- Container / End -->

{% endblock %}